{% load blog_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>
            <a href="/blog">
                My blog                
            </a>
        </h2>
        <p>I've written <b>{% total_posts %}</b> posts so far.</p>
        <p>This is my blog.</p>
        <h3>Latest posts</h3>
        {% show_latest_posts 5 %}
    </div>
</body>
</html>
